header {
    background-image: linear-gradient(89.82deg, #1e1e1e -6.88%, rgba(0, 0, 0, 0) 87.45%), url(../image/coffee_image.png);
    background-size: cover;
    background-position: center;
    height: 768px;
    position: relative;
}
.header-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
}
.menu-list {
    display: flex;
}
.menu-item {
    padding: 0 30px;
    line-height: 18.66px;
}
.menu-link {
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}
.menu-btn {
    display: flex;
}
.menu-btn__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--white);
}
.btnsignup {
    background: var(--primary);
    box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
    border-radius: 24px;
    padding: 15px 27px;
    margin-left: 35px;
    color: var(--textblack);
}
/* banner */
.banner {
    position: absolute;
    left: 0px;
    top: 183px;
    max-width: 527px;
}
.banner-top__desc {
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
}
.banner-title {
    font-family: "Clicker Script";
    font-weight: 400;
    font-size: 220px;
    line-height: 291px;
}
.banner-desc__bottom {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}
.banner-bottom {
    margin-top: 20px;
}
.btn {
    padding: 14px 26px;
    background: var(--primary);
    box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
    border-radius: 24px;
    color: var(--textblack);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    display: inline-block;
}

/* Introduction */
.intro {
    display: flex;
    margin-top: 82px;
    min-height: 484px;
}
.intro-content {
    max-width: 585px;
    margin-right: 95px;
    margin-top: calc(150px - 82px);
}
.intro-content h2 {
    margin-bottom: 29px;
}
.intro-button {
    margin-top: 29px;
}
.coffee-blast {
    position: absolute;
    left: 0px;
    top: 330px;
}
main {
    position: relative;
}

/* list-coffe */
.list-coffee {
    margin-top: 82px;
    text-align: center;
}
.container-title {
    color: var(--secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
}
.container-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}
.list-coffee h2 {
    margin-bottom: 16px;
}
.coffee-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 32px;
}
.card {
    background-color: #fff9f1;
    border: 1px solid rgba(249, 192, 106, 0.42);
    height: 364px;
}
.card-content h3 {
    color: var(--secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    margin-top: 14px;
}
.card-content-material {
    margin-top: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--textblack);
}
.card-content-price {
    margin: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #603809;
}
.card-button {
    margin-top: 13px;
}
.coffee-blast1 {
    position: absolute;
    right: 0px;
    top: 1030px;
}
/* advantage */
.advantage {
    margin-top: 82px;
    text-align: center;
}
.advantage-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.advantage-card {
    background-color: #ffeed8;
    text-align: center;
    padding: 36px 30px;
    display: block;
}
.advantage-icon {
    padding-bottom: 25px;
    margin: 0 auto;
}
.advantage-icon img {
    margin: auto;
}
.advantage-title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: var(--secondary);
}
.advantage-describe {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--text);
    margin-top: 8px;
}
.advantage-btn {
    margin-top: 24px;
    display: block;
}

/* banner second */
.banner-second {
    background-image: url(../image/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 82px;
    position: relative;
    margin-bottom: 82px;
}
.banner-second::before {
    content: "";
    background-color: #603809;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
}
.banner-second__content {
    max-width: 575px;
    padding: 135px 0px;
}
.banner-second__title {
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
    color: var(--white);
    margin-bottom: 22px;
}
.banner-second__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: var(--white);
}
.banner-second__btn {
    margin-top: 22px;
}
.banner-second__imgcup {
    position: absolute;
    top: 70px;
    right: 0px;
    z-index: 2;
}
.banner-second__coffeebean {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Feedback */
.feedback-section {
    position: relative;
}
.feedback {
    text-align: center;
}
.feedback h2 {
    margin-bottom: 16px;
}
.feedback-container {
    position: relative;
}
.btn-prev,
.btn-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -42px;
    padding: 30px;
    user-select: none;
    background-color: var(--primary);
    box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
    border-radius: 16px;
}
.btn-prev {
    left: 56px;
}
.btn-next {
    right: 56px;
    border-radius: 16px;
}
.feedback-content {
    position: relative;
    background-color: #fff9f1;
    border: 1px solid rgba(249, 192, 106, 0.42);
    padding: 130px 100px 110px 100px;
    text-align: center;
    max-width: 980px;
    margin: 45px auto 0px auto;
    display: none;
    cursor: pointer;
}
.feedback-content::before {
    content: "“";
    font-style: normal;
    font-weight: 700;
    font-size: 220px;
    line-height: 112px;
    position: absolute;
    color: var(--secondary);
    top: 54px;
    left: 30px;
}
.feedback-content p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: var(--text);
    margin-bottom: 28px;
}
.feedback-content h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: var(--secondary);
    margin-bottom: 4px;
}
.feedback-content span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: var(--text);
}
.feedback-avatar {
    transform: translateY(45px);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.feedback-avatar img {
    margin: auto;
}
.coffee-blast__feedback {
    position: absolute;
    left: 0px;
    top: 74%;
}
.coffee-blast__feedback2 {
    position: absolute;
    right: 0px;
    top: 5%;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
